@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  color: #222;
}
h1 {
font-size: 50;
margin-left: 20px;
font-family: "Libre Franklin", sans-serif;
font-weight: 800;
}

h2 {
font-size: 25;
margin-left: 20px;
font-family: "Libre Franklin", sans-serif;
font-weight: 400;

}

button {
font-size: 15px;  
font-family: "Libre Franklin", sans-serif;
font-weight: 600;
background-color: #e9ebecff;
border: none;
border-radius: 6px;          /* esquinas redondeadas */
padding: 8px 14px; 
cursor: pointer;             /* cursor tipo “mano” */
}

button:hover {
  background-color: rgb(190, 194, 195);   /* color más claro */
  transform: scale(1.05);      /* leve agrandado */
}

/* efecto cuando haces clic */
button:active {
  transform: scale(0.97);
  background-color: rgb(146, 149, 150); 
}
/* === Estado activo de los botones === */
button.active {
  background-color: rgb(146, 149, 150); /* mismo tono que el click */
  transform: scale(0.97);
  color: white; /* opcional */
}
#toolbar {
  margin-left: 20px;
}
